body {
    font-family: sans-serif;
    font-weight: 300;
}

.wrapper {
    background: white;
    border-radius: 8px;
    width:  1000px;
    margin: 20px auto 0 auto;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(16, 30, 42, 0.18);
}

.btn {
    height: 20px;
    line-height: 20px;
    background-color: #3899ec;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    border-radius: 18px;
    display: inline-block;
}

.upload {
    margin-top: 10px;
}