include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
        +styles

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                authenticationUrl: 'http://' + location.host + '/media-platform/auth-header'
            });

            var Image = MP.Image;
            var UploadUrlRequest = MP.file.UploadUrlRequest;
            var fileHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var imagesHost = 'images-wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var videosHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';

    body

        +nav-bar

        .content
            .group
                .actions
                    h3 Image Upload
                    #upload

                        form(id='upload-form' enctype='multipart/form-data' action='' method='post' target='upload-result')
                            input(id='file' name='file' type='file' accept='image/*')

                        button(id='upload-button').btn.upload.
                            Upload

                .preview
                    h3 Upload Result
                    #upload-result-container

        script.
            var button = document.getElementById('upload-button');
            var container = document.getElementById('upload-result-container');

            function removeChildren(node) {
              while (node.firstChild) {
                node.removeChild(node.firstChild);
              }
            }

            function setChild(node, child) {
              removeChildren(node);
              node.appendChild(child);
            }

            button.addEventListener('click', function () {
                var file = document.getElementById('file');
                var path = '/demo/' + file.value.split('\\').pop();
                console.log(path)

                mediaPlatform.fileManager.deleteFileByPath(path, function (error, response) {
                    // do nothing...
                })

                mediaPlatform.fileManager.getUploadUrl(new UploadUrlRequest().setPath(path), function(error, response) {

                        if (error) {
                            console.error(error);
                            return;
                        }

                        var form = document.getElementById('upload-form');

                        var formData = new FormData(form);
                        formData.set('uploadToken', response.uploadToken);
                        formData.set('path', path);

                        var request = new XMLHttpRequest();
                        request.responseType = 'json';
                        request.addEventListener('load', function (event) {
                           var images = event.target.response.payload;

                           if (images) {
                              var image = images[0];
                              var imgEl = document.createElement('img');
                              var url = 'http://' + imagesHost + image.path;

                              imgEl.setAttribute('src', url);
                              setChild(container, imgEl)
                            }
                        });

                        request.addEventListener('error', function (event) {
                            alert('Oops! Something went wrong.');
                        });

                        request.open('POST', response.uploadUrl);
                        request.send(formData);
                    })
            })