include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src="/media-platform.min.js")
        script(src="/vendor/highlight.js/highlight.pack.js")
        script(src="/utils.js")
        link(href="/vendor/highlight.js/styles/default.css")
        +styles

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: "wixmp-410a67650b2f46baa5d003c6.appspot.com",
                authenticationUrl: "http://" + location.host + "/media-platform/auth-header"
            });

            var Image = MP.Image;
            var UploadUrlRequest = MP.file.UploadUrlRequest;
            var fileHost = "wixmp-410a67650b2f46baa5d003c6.wixmp.com";
            var imagesHost = "images-wixmp-410a67650b2f46baa5d003c6.wixmp.com";
            var videosHost = "wixmp-410a67650b2f46baa5d003c6.wixmp.com";

            // highlight syntax
            hljs.initHighlightingOnLoad();

    body

        +nav-bar

        .content
            .group
                h2#Instantiation Instantiation
                .highlight
                    pre
                        code.js.
                            var mediaPlatform = new MP.MediaPlatform({
                                domain: "wixmp-410a67650b2f46baa5d003c6.appspot.com",
                                authenticationUrl: "http://localhost/media-platform/auth-header"
                            });

                h2#FileManagementApi File Management API
                    h4 upload A file (any mime type)
                    .highlight
                        pre
                            code.js.
                                var a = g;


                h2#ImageApi Image API
                    H4 Upload image
                    .highlight
                        pre
                            code.js.
                                mediaPlatform.fileManager
                                    .uploadFile(path, file)
                                    .on("upload-success", function(response) {
                                        // handle success
                                    });

                    .demo-group
                        label(for='image-file').btn.
                            Select Image
                        span#image-file-path
                        form(id='upload-form' enctype='multipart/form-data' action='' method='post' target='upload-result')
                            input(id='image-file' name='file' type='file' accept='image/*')

                        .response
                            .highlight.highlight-response
                                pre
                                    code.json#image-payload.
                                        nothing to display here

                            .output
                                img#image-output(src="/assets/img/no-preview.jpg")


        script.
            var imageFile = document.getElementById("image-file");
            var imageOutput = document.getElementById("image-output");
            var imagePayload = document.getElementById("image-payload");
            var imageFilePath = document.getElementById("image-file-path");

            imageFile.addEventListener("change", function () {
                var path = "/demo/" + this.value.split("\\").pop();
                var file = this.files[0];

                imageFilePath.innerHTML = path;

                mediaPlatform.fileManager.deleteFileByPath(path, function (error, response) {
                    // do nothing...
                });

                mediaPlatform.fileManager
                    .uploadFile(path, file)
                    .on('upload-success', function (response) {
                        var images = response.fileDescriptors;
                        var image = images[0];
                        var url = "http://" + imagesHost + image.path;

                        imageOutput.setAttribute("src", url);
                        imagePayload.innerHTML = jsonSyntaxHighlight(image);
                    })
                    .on('upload-error', function(error) {
                      console.info('upload error:', error);
                    });
            })