doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
    body
        h2 Image

        h3 Success
        #image

        script.
            var image = new Image('media.wixapps.net/wixmedia-samples/images', '000c45e21f8a433cb3b2483dfbb659d8', 'wow.jpeg');

        script.
            var elem = document.createElement('img');
            elem.src = image.fit(500, 500).negative().saturation(-90).toUrl().url;
            document.getElementById('image').appendChild(elem);

        h3 Error
        #error

        script.
            var error = image.fill(250, 250).contrast(-200).toUrl().error;
            document.getElementById('error').innerHTML = error.message;

        h2 Upload
        #upload

            form(id='upload-form' enctype='multipart/form-data' action='' method='post' target='upload-result')
                input(id='file' name='file' type='file' accept='image/*')
                input(id='media-type' name='media_type' type='text' value='picture' hidden)
                input(id='upload-token' name='upload_token' type='text' hidden)

            button(id='upload-button').
                Upload

        script.
            var button = document.getElementById('upload-button');
            button.addEventListener('click', function () {
                fetch('http://localhost:3000/upload/credentials').then(function (response) {
                    response.json().then(function (uploadCredentials) {
                        var form = document.getElementById('upload-form');
                        form.getElementsByTagName('upload_token').value = uploadCredentials.uploadToken;
                        form.setAttribute('action', uploadCredentials.uploadUrl);
                        form.submit();
                    })
                })
            })

        br

        h3 Upload Result
        iframe(id='upload-result' name='upload-result' width='800')