doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
    body
        #image

        script.
            var image = new Image('media.wixapps.net/ggl-109789773458215503884/images', 'd4d7cafb620e4b04af5823fc61ea101f', 'neta.jpeg');
            var elem = document.createElement('img');
            elem.src = image.fill(250, 250).toUrl().url;
            document.getElementById('image').appendChild(elem);

        #error

        script.
            var image = new Image('media.wixapps.net/ggl-109789773458215503884/images', 'd4d7cafb620e4b04af5823fc61ea101f', 'neta.jpeg');
            var error = image.fill(250, 250).contrast(-200).toUrl().error;
            document.getElementById('error').innerHTML = error.message;

        #upload
            form(enctype="multipart/form-data" action="/upload/image" method="post")
                input(id="file" type="file")

            button(id='upload-button').
                Upload

        script.
            var button = document.getElementById('upload-button');
            button.addEventListener('click', function (event) {
                fetch('http://localhost:3000/upload/url').then()
            })


