doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: 'domain',
                authenticationUrl: 'http://localhost:3333/media-platform/auth-header'
            });

            var ImageRequest = MP.image.ImageRequest;
            var ImageDTO = MP.image.ImageDTO;
    body
        h2 Image

        h3 Success
        #image

        h3 Error
        #error

        h2 Upload
        #upload

            form(id='upload-form' enctype='multipart/form-data' action='' method='post' target='upload-result')
                input(id='file' name='file' type='file' accept='image/*')
                input(id='media-type' name='media_type' type='text' value='picture' hidden)
                input(id='upload-token' name='upload_token' type='text' hidden)

            button(id='upload-button').
                Upload


        h3 Upload Result
        #upload-result-container

        script.
           imageRequest = new ImageRequest('media.wixapps.net/wixmedia-samples/images', '000c45e21f8a433cb3b2483dfbb659d8');

           var elem = document.createElement('img');
           elem.src = imageRequest.fit(500, 500).negative().saturation(-90).toUrl().url;
           document.getElementById('image').appendChild(elem);

           var imageOperation = MP.image.fromUrl(elem.src);
           imageOperation.negative(false).size(400, 400);

           elem = document.createElement('img');
           elem.src = imageOperation.toUrl().url;
           document.getElementById('image').appendChild(elem);

           var error = imageRequest.fill(250, 250).contrast(-200).toUrl().error;
           document.getElementById('error').innerHTML = error.message;

        script.
            var button = document.getElementById('upload-button');
            button.addEventListener('click', function () {

                mediaPlatform.fileUploader.getUploadUrl(MP.MediaType.IMAGE, function(error, response) {

                        var form = document.getElementById('upload-form');

                        var formData = new FormData(form);
                        formData.set('upload_token', response.uploadToken);

                        var request = new XMLHttpRequest();
                        request.responseType = 'json';
                        request.addEventListener('load', function (event) {

                            var imageDto = new ImageDTO(event.target.response[0]);
                            var imageRequest = MP.image.fromDto('media.wixapps.net', imageDto);
                            var imageUrl = imageRequest.crop(800, 200, 1, 1).negative().toUrl();

                            var container = document.getElementById('upload-result-container');
                            while (container.firstChild) {
                                container.removeChild(container.firstChild);
                            }
                            var img = document.createElement('img');
                            img.setAttribute('src', imageUrl.url);
                            var pre = document.createElement('pre');
                            pre.innerText = JSON.stringify(event.target.response[0], null, 2);
                            container.appendChild(img);
                            container.appendChild(pre);
                        });

                        request.addEventListener('error', function (event) {
                            alert('Oops! Something went wrong.');
                        });

                        request.open('POST', response.uploadUrl);
                        request.send(formData);
                    })
            })