include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - SDK Server Demo

        script(src='/media-platform.min.js')
        script(src="/utils.js")
        script(src="/prismjs/prism.js")
        link(href="/prismjs/themes/prism.css")

        +styles

    body

        +nav-bar

        .content
            .group
                .actions
                    h2 Instantiation
                    #instantiation
                        #instantiation-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var MediaPlatform = require('media-platform-js-sdk');

                                        var mediaPlatform = new MediaPlatform({
                                            domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                                            appId: '48fa9aa3e9d342a3a33e66af08cd7fe3',
                                            sharedSecret: 'fad475d88786ab720b04f059ac674b0e'
                                        });

                                        var fileManager = mediaPlatform.fileManager;

                    h2#authorization Authorization
                        h4 Generating and signing an authorization token for use by the client (browser)
                        #authorization-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var header = mediaPlatform.getAuthorizationHeader();
                                        res.send(header);
                            .demo-group
                                .executable-button
                                    button(id='authorization-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#authorization-response

                    #limited-authorization
                        h4 Limiting the authorization scope of the signed token
                        #limited-authorization-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var Token = require('media-platform-js-sdk').auth.Token;
                                        var NS = require('media-platform-js-sdk').auth.NS;

                                        var token = new Token()
                                            .setIssuer(NS.APPLICATION, '48fa9aa3e9d342a3a33e66af08cd7fe3')
                                            .setSubject(NS.APPLICATION, '48fa9aa3e9d342a3a33e66af08cd7fe3')
                                            .addVerbs('urn:service:file.get', 'urn:service:file.list');

                                        var header = mediaPlatform.getAuthorizationHeader(token);

                                        res.send(header);
                            .demo-group
                                .executable-button
                                    button(id='limited-authorization-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#limited-authorization-response

                    h2#upload Files
                        h4 Uploading a file directly from the server. Support streams, buffers and files
                        #upload-code
                            .highlight
                                pre
                                   code.language-javascript.
                                       fileManager.uploadFile('/demo/image.jpg', __dirname + '/../files/image.jpg', null, function(error, response) {
                                            // do something
                                       });

                            .demo-group
                                .executable-button
                                    button(id='upload-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#upload-response

                    #list
                        h4 List files under a specific directory
                        #list-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var ListFilesRequest = require('media-platform-js-sdk').file.ListFilesRequest;

                                        var listFilesRequest = new ListFilesRequest().setPageSize(3);

                                        fileManager.listFiles('/demo', listFilesRequest, function (error, listFilesResponse) {
                                            // do something
                                        });

                            .demo-group
                                .executable-button
                                    button(id='list-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#list-response

                    #metadata
                        h4 Get all the accumulated file metadata, note that the available metadata depends on
                           |  which services are active in the project
                        #metadata-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        fileManager.getFileMetadataById(id, function (error, response) {
                                            // do something
                                        });
                            .demo-group
                                input(id='file-id-input' type='text' placeholder='Enter File ID').text-input
                                br
                                .executable-button
                                    button(id='get-metadata-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#get-metadata-response

                    #download-url
                        h4 Get a signed URL that directs to a file, required for non-public file download
                        #download-url-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var url = mediaPlatform.getDownloadUrl(req.query.path, null);

                                        res.send({url: url});
                            .demo-group
                                input(id='file-path-input' type='text' placeholder='Enter File Path').text-input
                                br
                                .executable-button
                                    button(id='get-download-url-button').btn.
                                        Execute
                                    .spinner
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#get-download-url-response

        script.
            var authorizationButton = document.getElementById('authorization-button');
            var authorizationResponse = document.getElementById('authorization-response');
            authorizationButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/auth-header', authorizationResponse, this)
            });
            var limitedAuthorizationButton = document.getElementById('limited-authorization-button');
            var limitedAuthorizationResponse = document.getElementById('limited-authorization-response');
            limitedAuthorizationButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/limited-auth-header', limitedAuthorizationResponse, this)
            });
            var uploadButton = document.getElementById('upload-button');
            var uploadResponse = document.getElementById('upload-response');
            uploadButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/file/upload', uploadResponse, this)
            });
            var listButton = document.getElementById('list-button');
            var listResponse = document.getElementById('list-response');
            listButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/files', listResponse, this)
            });
            var metadataButton = document.getElementById('get-metadata-button');
            var metadataResponse = document.getElementById('get-metadata-response');
            var fileIdInput = document.getElementById('file-id-input');
            metadataButton.addEventListener('click', function () {
                var id = fileIdInput.value;
                doGet('http://' + location.host + '/media-platform/file/' + id + '/metadata', metadataResponse, this)
            });
            var downloadUrlButton = document.getElementById('get-download-url-button');
            var downloadUrlResponse = document.getElementById('get-download-url-response');
            var filePathInput = document.getElementById('file-path-input');
            downloadUrlButton.addEventListener('click', function () {
                var path = encodeURIComponent(filePathInput.value);
                doGet('http://' + location.host + '/media-platform/file/download/url?path=' + path, downloadUrlResponse, this)
            });

            function doGet(url, resultContainer, el) {
                var request = new XMLHttpRequest();
                request.responseType = 'json';

                startLoading(el);
                request.addEventListener('load', function (event) {
                    stopLoading(el);
                    resultContainer.innerHTML = Prism.highlight(
                        JSON.stringify(event.target.response, null, 2),
                        Prism.languages.js);
                });

                request.addEventListener('error', function (event) {
                    stopLoading(el);
                    alert('Oops! Something went wrong.');
                });

                request.open('GET', url);
                request.send();
            }