include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
        script(src="/prismjs/prism.js")
        link(href="/prismjs/themes/prism.css")

        +styles

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                authenticationUrl: 'http://' + location.host + '/media-platform/auth-header'
            });

            var Image = MP.Image;
            var UploadUrlRequest = MP.file.UploadUrlRequest;
            var fileHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var imagesHost = 'images-wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var videosHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';

    body

        +nav-bar

        .content
            .group
                .actions
                    h2 Instantiation
                    #instantiation
                        #instantiation-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var MediaPlatform = require('media-platform-js-sdk');

                                        var mediaPlatform = new MediaPlatform({
                                            domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                                            appId: '48fa9aa3e9d342a3a33e66af08cd7fe3',
                                            sharedSecret: 'fad475d88786ab720b04f059ac674b0e'
                                        });

                                        var fileManager = mediaPlatform.fileManager;

                    h2 Authorization
                    #authorization
                        #authorization-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var header = mediaPlatform.getAuthorizationHeader();
                                        res.send(header);
                            button(id='authorization-button').btn.
                                Execute
                            .highlight.highlight-response
                                pre
                                    code.language-javascript#authorization-response

                    #limited-authorization
                        #limited-authorization-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var Token = require('media-platform-js-sdk').auth.Token;
                                        var NS = require('media-platform-js-sdk').auth.NS;

                                        var token = new Token()
                                            .setIssuer(NS.APPLICATION, '48fa9aa3e9d342a3a33e66af08cd7fe3')
                                            .setSubject(NS.APPLICATION, '48fa9aa3e9d342a3a33e66af08cd7fe3')
                                            .addVerbs('urn:service:file.get', 'urn:service:file.list');

                                        var header = mediaPlatform.getAuthorizationHeader(token);

                                        res.send(header);
                            button(id='limited-authorization-button').btn.
                                Execute
                            .highlight.highlight-response
                                pre
                                    code.language-javascript#limited-authorization-response

                    h2 Files
                    #upload
                        #upload-code
                            .highlight
                                pre
                                   code.language-javascript.
                                       fileManager.uploadFile('/demo/image.jpg', __dirname + '/../files/image.jpg', null, function(error, response) {
                                            // do something
                                       });
                            button(id='upload-button').btn.
                                Execute

                            .highlight.highlight-response
                                pre
                                    code.language-javascript#upload-response

                    #list
                        #list-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        var ListFilesRequest = require('media-platform-js-sdk').file.ListFilesRequest;

                                        var listFilesRequest = new ListFilesRequest().setPageSize(3);

                                        fileManager.listFiles('/demo', listFilesRequest, function (error, listFilesResponse) {
                                            // do something
                                        });

                            button(id='list-button').btn.
                                Execute
                            .highlight.highlight-response
                                pre
                                    code.language-javascript#list-response

                    #metadata
                        #metadata-code
                            .highlight
                                pre
                                    code.language-javascript.
                                        fileManager.getFileMetadataById(id, function (error, response) {
                                            // do something
                                        });
                            .demo-group
                                input(id='file-id-input' type='text' placeholder='Enter File ID').text-input
                                br
                                button(id='get-metadata-button').btn.
                                    Execute
                                .highlight.highlight-response
                                    pre
                                        code.language-javascript#get-metadata-response

        script.
            var authorizationButton = document.getElementById('authorization-button');
            var authorizationResponse = document.getElementById('authorization-response');
            authorizationButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/auth-header', authorizationResponse)
            });
            var limitedAuthorizationButton = document.getElementById('limited-authorization-button');
            var limitedAuthorizationResponse = document.getElementById('limited-authorization-response');
            limitedAuthorizationButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/limited-auth-header', limitedAuthorizationResponse)
            });
            var uploadButton = document.getElementById('upload-button');
            var uploadResponse = document.getElementById('upload-response');
            uploadButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/file/upload', uploadResponse)
            });
            var listButton = document.getElementById('list-button');
            var listResponse = document.getElementById('list-response');
            listButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/files', listResponse)
            });
            var deleteButton = document.getElementById('get-metadata-button');
            var metadataResponse = document.getElementById('get-metadata-response');
            var fileIdInput = document.getElementById('file-id-input');
            deleteButton.addEventListener('click', function () {
                var id = fileIdInput.value;
                doGet('http://' + location.host + '/media-platform/file/' + id + '/metadata', metadataResponse)
            });

            function doGet(url, resultContainer) {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.addEventListener('load', function (event) {
                    var html = Prism.highlight(JSON.stringify(event.target.response, null, 2), Prism.languages.js);
                    resultContainer.innerHTML = html;
                });

                request.addEventListener('error', function (event) {
                    alert('Oops! Something went wrong.');
                });

                request.open('GET', url);
                request.send();
            }