include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
        script(src='/vendor/highlight.js/highlight.pack.js')
        link(href='/vendor/highlight.js/styles/default.css')

        +styles

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                authenticationUrl: 'http://' + location.host + '/media-platform/auth-header'
            });

            var Image = MP.Image;
            var UploadUrlRequest = MP.file.UploadUrlRequest;
            var fileHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var imagesHost = 'images-wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var videosHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';

            // highlight syntax
            hljs.initHighlightingOnLoad();

    body

        +nav-bar

        .content
            .group
                .actions
                    h2 Instantiation
                    #instantiation
                        #instantiation-code.code-snippet
                            .highlight
                                pre
                                    code.js.
                                        var MediaPlatform = require('media-platform-js-sdk');

                                        var mediaPlatform = new MediaPlatform({
                                            domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                                            appId: '48fa9aa3e9d342a3a33e66af08cd7fe3',
                                            sharedSecret: 'fad475d88786ab720b04f059ac674b0e'
                                        });

                                        var fileManager = mediaPlatform.fileManager;
                    h2 Files
                    #upload
                        #upload-code.code-snippet
                            .highlight
                                pre
                                   code.js.
                                       fileManager.uploadFile('/demo/image.jpg', __dirname + '/../files/image.jpg', null, function(error, response) {
                                            // do something
                                       });
                            button(id='upload-button').btn.
                                Execute
                            h4 Response
                                #upload-response.pre

                    #list
                        #list-code.code-snippet
                            .highlight
                                pre
                                    code.js.
                                        var ListFilesRequest = require('media-platform-js-sdk').file.ListFilesRequest;

                                        var listFilesRequest = new ListFilesRequest().setPageSize(5);

                                        fileManager.listFiles('/demo', listFilesRequest, function (error, listFilesResponse) {
                                            // do something
                                        });

                            button(id='list-button').btn.
                                Execute
                            h4 Response
                                #list-response.pre

                    #delete
                        #delete-code.code-snippet
                            .highlight
                                pre
                                    code.js.
                                        fileManager.getFileMetadataById(id, function (error, response) {
                                            // do something
                                        });
                            br
                            input(id='file-id-input' type='text' value='Enter File ID')
                            br
                            button(id='get-metadata-button').btn.
                                Execute
                            h4 Response
                                #get-metadata-response.pre

        script.
            var uploadButton = document.getElementById('upload-button');
            var uploadResponse = document.getElementById('upload-response');
            uploadButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/file/upload', uploadResponse)
            });
            var listButton = document.getElementById('list-button');
            var listResponse = document.getElementById('list-response');
            listButton.addEventListener('click', function () {
                doGet('http://' + location.host + '/media-platform/files', listResponse)
            });
            var deleteButton = document.getElementById('get-metadata-button');
            var metadataResponse = document.getElementById('get-metadata-response');
            var fileIdInput = document.getElementById('file-id-input');
            deleteButton.addEventListener('click', function () {
                var id = fileIdInput.value;
                doGet('http://' + location.host + '/media-platform/file/' + id + '/metadata', metadataResponse)
            });

            function doGet(url, resultContainer) {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.addEventListener('load', function (event) {
                    var el = document.createElement('pre');
                    el.innerHTML = jsonSyntaxHighlight(event.target.response);
                    setChild(resultContainer, el);
                });

                request.addEventListener('error', function (event) {
                    alert('Oops! Something went wrong.');
                });

                request.open('GET', url);
                request.send();
            }

            function removeChildren(node) {
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }

            function setChild(node, child) {
                removeChildren(node);
                node.appendChild(child);
            }

            function jsonSyntaxHighlight(json) {
                var str = JSON.stringify(json, null, 2)
                str = str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return str.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

