include ./mixins/nav-bar
include ./mixins/styles
doctype html
html()
    head
        title Wix Media Platform - Demo

        script(src='/media-platform.min.js')
        +styles

        script.
            var mediaPlatform = new MP.MediaPlatform({
                domain: 'wixmp-410a67650b2f46baa5d003c6.appspot.com',
                authenticationUrl: 'http://' + location.host + '/media-platform/auth-header'
            });

            var Image = MP.Image;
            var UploadUrlRequest = MP.file.UploadUrlRequest;
            var fileHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var imagesHost = 'images-wixmp-410a67650b2f46baa5d003c6.wixmp.com';
            var videosHost = 'wixmp-410a67650b2f46baa5d003c6.wixmp.com';

    body

        +nav-bar

        .content
            .group
                .actions
                    h2 Files
                    #upload
                        #upload-code.code-snippet
                            p.
                                fileManager.uploadFile('upload/to/there/image.jpg', sourcesDir + 'image.jpg', null, function (error, fileDescriptor) {
                                    // do something
                                });
                            button(id='upload-button').btn.
                                Execute
                            h4 Result
                            #upload-result.result

                    #list
                        #list-code.code-snippet
                            p.
                                fileManager.listFiles('path', null, function (error, fileDescriptors) {
                                    // do something
                                });
                            button(id='list-button').btn.
                                Execute
                            .preview
                                h4 Result
                                #list-result.result

                    #delete
                        #delete-code.code-snippet
                            p.
                                fileManager.listFiles('path', null, function (error, fileDescriptors) {
                                    // do something
                                });
                            button(id='delete-button').btn.
                                Execute
                            .preview
                                h4 Result
                                #delete-result.result




